{{- $section4 := .Site.Params.section6 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $steps    := index $section4 "steps" }} <!-- Renamed from clients to steps for consistency -->
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="steps">
        {{- range $index, $step := $steps }}
        <div class="step">
          <div class="step__number">{{ add $index 1 }}</div> <!-- Step number -->
          <div class="step__title">{{ .title }}</div> <!-- Step title -->
          <div class="step__content">
            {{ .content }} <!-- Step content -->
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
